<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<div class="Centered">
    <h1>Dima is studing english!</h1>
</div>
<div class="Container">
    <p>Menu</p>
    <ul>
                <li><a href="grammar">grammar</a></li>
                <li><a href="vocabulary">vocabulary</a></li>
                <li><a href="/">index</a></li>
            </ul>
</div>
</body>
</html>