<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<div class="Centered">
    <h1>Dima is studing english!</h1>
</div>
<div class="Container">
    <p>Menu</p>
    <ul>к
        <li><a href="grammar">grammar</a></li>
        <li><a href="/">index</a></li>
        <li><a href="authenticate">authenticate/sign up</a></li>

    </ul>
</div>
<div class="Container">
    <h2>Interesting words in English</h2>
    <div id="dictionary">
        <strong>Escalating</strong> возрастающий; эскалация <br>
        <strong>Commitment</strong> обязательство<br>
        <strong>Delivery</strong> доставка; подача<br>
        <strong>Lanky</strong> долговязый<br>
    </div>
</div>


</body>
</html>